certifi==2023.7.22
charset-normalizer==3.2.0
greenlet==2.0.2
idna==3.4
loguru==0.7.0
pydantic==1.10.11
pyTelegramBotAPI==4.12.0
requests==2.31.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
typing_extensions==4.7.1
urllib3==2.0.4
